<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Age</key>
	<array>
	<string>66</string>
	<string>33</string>
    <string>34</string>
    <string>31</string>
    <string>31</string>
    </array>
    
	<key>Name</key>
	<array>
		<string>楚广明</string>
		<string>俞炯</string>
		<string>王力印</string>
		<string>小谢</string>
        <string>小贾</string>
	</array>
</dict>
</plist>
